<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trip Buddy Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body>
    <div class="wrapper">
        <h1>Hey, {{user.first_name}}, lets make a plan or two!</h1>
        <a class='log_out' href="/log_out"><input class="btn btn-warning" type="button" value='Logout'></a><br><br>         
        
        <form class='create_job' action="jobs/new" method="POST">
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="Create a New Job">
        </form> <br>

        <!--Current List of job's-->
        <div class="your_trips">
            <h3>Everyone's Trips:</h3>
            <table class="table table-striped">
                <thead>
                    <th>User who Posted</th>
                    <th>Plans</th>
                    <th>Location</th>
                    <th>Action</th>
                </thead>
                {% for job in jobs %}
                    <tr>
                        <td>{{job.user.first_name}}</td>
                        <td>{{job.title}}</td>
                        <td>{{job.location}}</td>
                        <td>
                            <a href="jobs/show/{{job.id}}">View</a>
                            {% if user == job.user %}
                                <a href="jobs/edit/{{job.id}}"> | Edit |</a>
                                <a href="/delete/{{job.id}}"> Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %} 
            </table>
        </div>

        <!--My job's-->
        <div class="other_trips">
            <h3>{{user.first_name}}'s Trips:</h3>
            <table class="table table-striped">
                <thead>
                    <th>Trip</th>
                    <th>Actions Available</th>
                </thead>
                {% for job in user.job.all %}
                    <tr>
                        <td>{{job.title}}</td>
                        <td><a href="jobs/show/{{job.id}}">View |</a><a href="/delete/{{job.id}}"> Delete</a></td>
                    </tr>
                {% endfor %} 
            </table>
        </div>
    </div>
</body>
</html>